<div class="min-h-screen">
  <div class="bg-surface-0 dark:bg-surface-900 mb-4 shadow h-20 flex justify-center">
    <div class="container h-full px-4 flex items-center justify-between">
      <a class="flex items-center ml-6 h-10 hover:no-underline" [routerLink]="'landing' | route">
        <img
          src="assets/images/logos/logo-{{ layoutService.isDarkTheme() ? 'dark' : 'light' }}.png"
          alt="LightNap Logo"
          class="h-full object-scale-down"
        /><span class="text-color font-medium text-2xl leading-normal ml-2">{{ layoutService.appName }}</span>
      </a>
      <div class="flex items-center justify-between gap-2">
        @if (loggedIn$ | async) {
          <p-button pRipple label="App" [routerLink]="'user-home' | route" [rounded]="true" severity="primary" />
          <!-- Could not get (onClick) to work here. Revisit at some point. -->
          <p-button pRipple label="Logout" (click)="logOutClicked()" [rounded]="true" [text]="true" />
        } @else {
          <p-button pRipple label="Login" [routerLink]="'login' | route" [rounded]="true" [text]="true" />
          <p-button pRipple label="Register" [routerLink]="'register' | route" [rounded]="true" severity="primary" />
        }
      </div>
    </div>
  </div>
  <div class="flex flex-column justify-center">
    <div class="container">
      <router-outlet />
    </div>
  </div>
</div>
