<p-panel header="Change Your Email">
  <form [formGroup]="form" (ngSubmit)="changeEmail()" autocomplete="off">
    <div class="flex flex-col w-80 gap-5">
      <div class="flex flex-col gap-2">
        <label for="newEmail" class="text-xl">New Email</label>
        <input id="newEmail" type="text" placeholder="New email address" pInputText formControlName="newEmail" />
      </div>

      <error-list [errors]="errors()" />

      <p-button type="submit" label="Change Email" class="w-full" [disabled]="!form.valid" />
    </div>
  </form>
</p-panel>
