<identity-card>
  <span title>Register</span>
  <span subtitle>Let's get started!</span>

  <form [formGroup]="form" (ngSubmit)="register()" autocomplete="off">
    <div>
      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label for="userName" class="text-xl">User Name</label>
          <input id="userName" type="text" placeholder="User Name" pInputText formControlName="userName" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="email" class="text-xl">Email</label>
          <input id="email" type="text" placeholder="Email address" pInputText formControlName="email" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="password" class="text-xl">Password</label>
          <p-password formControlName="password" class="w-full" inputStyleClass="w-full" placeholder="Password" [toggleMask]="true" />
        </div>

        <div class="flex flex-col gap-2">
          <label for="confirmPassword" class="text-xl">Confirm Password</label>
          <p-password
            formControlName="confirmPassword"
            styleClass="w-full"
            inputStyleClass="w-full"
            placeholder="Confirm Password"
            [toggleMask]="true"
            [feedback]="false"
          />
        </div>

        <div class="flex items-center justify-between">
          <div class="flex gap-2">
            <p-checkbox inputId="rememberMe" formControlName="rememberMe" [binary]="true" />
            <label for="rememberMe">Remember Me</label>
          </div>
          <a [routerLink]="'reset-password' | route">Forgot password?</a>
        </div>

        <div class="flex items-center gap-1">
          <p-checkbox inputId="agreedToTerms" formControlName="agreedToTerms" class="mr-2" [binary]="true" />
          <label for="agreedToTerms">I agree to the</label>
          <a [routerLink]="'terms-and-conditions' | route" target="_blank">Terms and Conditions</a>
          <span>and</span>
          <a [routerLink]="'privacy-policy' | route" target="_blank">Privacy Policy</a>
        </div>

        <error-list [errors]="errors()" />
      </div>

      <p-button type="submit" label="Register" styleClass="w-full text-xl mt-2" [disabled]="!form.valid" pRipple />
      <div class="flex flex-col mt-6">
        <a [routerLink]="'login' | route">I already have an account</a>
      </div>
    </div>
  </form>
</identity-card>
