<div class="flex flex-col gap-1">
  <p-table [value]="userRoles()">
    <ng-template #header>
      <tr>
        <th><i class="pi pi-trash"></i></th>
        <th>Role</th>
      </tr>
    </ng-template>
    <ng-template #body let-role>
      <tr>
        <td>
          <confirm-popup [key]="role.name" />
          <p-button severity="danger" icon="pi pi-trash" title="Remove user from role" (onClick)="removeRoleClicked($event, role.name)" />
        </td>
        <td>
          <div class="flex flex-col">
            <a [routerLink]="'admin-role' | route: role.name"> {{ role.name }}</a>
            <span>{{ role.description }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="100%">User is not a member of any roles.</td>
      </tr>
    </ng-template>
  </p-table>

  <api-response [apiResponse]="roles$" errorMessage="Error loading roles" loadingMessage="Loading roles...">
    <ng-template #success let-roles>
      <form [formGroup]="addUserToRoleForm" (ngSubmit)="addRole.emit(this.addUserToRoleForm.value.role!)">
        <div class="flex gap-1">
          <p-select
            formControlName="role"
            [options]="roles"
            optionLabel="displayName"
            optionValue="name"
            placeholder="Select a role"
            [showClear]="true"
            emptyFilterMessage="No roles found"
          />

          <p-button severity="success" label="Add user to role" type="submit" [disabled]="!addUserToRoleForm.valid" />
        </div>
      </form>
    </ng-template>
  </api-response>
</div>
