<api-response [apiResponse]="user$()" errorMessage="Error loading user" loadingMessage="Loading user...">
  <ng-template #success let-user>
    <p-panel>
      <ng-template #header>
        <div class="p-panel-body flex justify-between w-full">
          <div class="flex flex-col gap-1">
            <div class="p-panel-title">
              {{ user.userName }}
              @if (user.lockoutEnd) {
                <p-tag class="ml-1" severity="danger" value="Locked" />
              }
            </div>
            <div class="p-panel-subtitle">{{ user.email }}</div>
          </div>
          <div class="flex gap-1">
            <confirm-popup key="lock" confirmSeverity="danger" confirmIcon="pi pi-lock" />
            <p-button severity="danger" title="Lock user account" (onClick)="lockUserAccount($event)" icon="pi pi-lock" [hidden]="user.lockoutEnd" />
            <confirm-popup key="unlock" confirmSeverity="success" confirmIcon="pi pi-unlock" />
            <p-button
              severity="success"
              title="Unlock user account"
              (onClick)="unlockUserAccount($event)"
              icon="pi pi-unlock"
              [hidden]="!user.lockoutEnd"
            />
            <confirm-popup key="delete" />
            <p-button severity="danger" title="Delete user" (onClick)="deleteUser($event)" icon="pi pi-trash" />
          </div>
        </div>
      </ng-template>

      <p-tabs value="profile">
        <p-tablist>
          <p-tab value="profile">Profile</p-tab>
          <p-tab value="roles">Roles</p-tab>
          <p-tab value="claims">Claims</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="profile">
            <user-profile [user]="user" />
          </p-tabpanel>
          <p-tabpanel value="roles">
            <api-response [apiResponse]="userRoles$()" errorMessage="Error loading user roles" loadingMessage="Loading user roles...">
              <ng-template #success let-userRoles>
                <user-roles [userRoles]="userRoles ?? []" (addRole)="addRole($event)" (removeRole)="removeRole($event)" />
              </ng-template>
            </api-response>
          </p-tabpanel>
          <p-tabpanel value="claims">
            <api-response [apiResponse]="userClaims$()" errorMessage="Error loading user claims" loadingMessage="Loading user claims...">
              <ng-template #success let-userClaims>
                <user-claims [userClaims]="userClaims ?? []" (addClaim)="addClaim($event)" (removeClaim)="removeClaim($event)" />
              </ng-template>
            </api-response>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>

      <error-list [errors]="errors()" />
    </p-panel>
  </ng-template>
</api-response>
