<api-response [apiResponse]="claims$" errorMessage="Error loading claim" loadingMessage="Loading claim...">
  <ng-template #success let-results>
    <p-panel header="Search Claims">
      <form [formGroup]="form" class="my-2">
        <div class="flex gap-1">
          <div class="flex flex-col">
            <input pInputText placeholder="Type" formControlName="type" />
            <div class="flex items-end">
              <p-checkBox inputId="typeExact" formControlName="typeExact" [binary]="true" class="mt-2" />
              <label for="typeExact" class="ml-2">Exact match</label>
            </div>
          </div>
          <div class="flex flex-col">
            <input pInputText placeholder="Value" formControlName="value" />
            <div class="flex items-end">
              <p-checkBox inputId="valueExact" formControlName="valueExact" [binary]="true" class="mt-2" />
              <label for="valueExact" class="ml-2">Exact match</label>
            </div>
          </div>
        </div>
      </form>

      <p-table
        [value]="results.data"
        [paginator]="true"
        [rows]="pageSize"
        [totalRecords]="results.totalCount"
        [lazy]="true"
        (onLazyLoad)="loadUsersLazy($event)"
      >
        <ng-template #header>
          <tr>
            <th class="whitespace-nowrap">Claim Type</th>
            <th width="100%">Claim Value</th>
          </tr>
        </ng-template>
        <ng-template #body let-claim>
          <tr>
            <td>
              <a [routerLink]="'admin-claim' | route: [claim.type, claim.value]"> {{ claim.type }}</a>
            </td>
            <td>
              {{ claim.value }}
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="100%">
              <span>There are no matching claims.</span>

              @if (form.value.type && form.value.value) {
                <span> Add one <a [routerLink]="'admin-claim' | route: [form.value.type, form.value.value]">here</a>.</span>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>

      <error-list [errors]="errors()" />
    </p-panel>
  </ng-template>
</api-response>
