<identity-card>
  <span title>Welcome!</span>
  <span subtitle>Sign in to continue</span>

  <form [formGroup]="form" (ngSubmit)="logIn()" autocomplete="off">
    <div class="w-96">
      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label for="login" class="text-xl font-medium">Email/User Name</label>
          <p-inputGroup>
            <input id="login" type="text" placeholder="Email/User Name" pInputText formControlName="login" />
            <p-inputgroup-addon>
              <p-button icon="pi pi-sparkles" title="Send Magic Link" pRipple (onClick)="sendMagicLink()" [disabled]="!showMagicLink.valid" />
            </p-inputgroup-addon>
          </p-inputGroup>
        </div>

        <div class="flex flex-col gap-2">
          <label for="password" class="font-medium text-xl">Password</label>
          <p-password
            formControlName="password"
            styleClass="w-full"
            inputStyleClass="w-full"
            placeholder="Password"
            [toggleMask]="true"
            [feedback]="false"
          />
        </div>

        <div class="flex items-center justify-between">
          <div class="flex gap-2">
            <p-checkbox inputId="rememberMe" formControlName="rememberMe" [binary]="true" />
            <label for="rememberMe">Remember Me</label>
          </div>
          <a [routerLink]="'reset-password' | route">Forgot password?</a>
        </div>

        <error-list [errors]="errors()" />
      </div>

      <p-button type="submit" label="Sign In" styleClass="w-full text-xl mt-2" [disabled]="!form.valid" pRipple />

      <div class="mt-4">
        <a [routerLink]="'register' | route">I need to create an account</a>
      </div>
    </div>
  </form>
</identity-card>
