<p-panel header="Change Your Password" class="w-80">
  <form [formGroup]="form" (ngSubmit)="changePassword()" autocomplete="off">
    <div class="flex flex-col gap-4">
      <p-password
        formControlName="currentPassword"
        placeholder="Current Password"
        class="w-full"
        [toggleMask]="true"
        [feedback]="false"
        inputStyleClass="w-full"
      />

      <p-password
        formControlName="newPassword"
        placeholder="New Password"
        class="w-full"
        [toggleMask]="true"
        [feedback]="true"
        inputStyleClass="w-full"
      />

      <p-password
        formControlName="confirmNewPassword"
        placeholder="Confirm New Password"
        class="w-full"
        [toggleMask]="true"
        [feedback]="false"
        inputStyleClass="w-full"
      />

      <error-list [errors]="errors()" />

      <p-button type="submit" label="Change Password" class="w-full" [disabled]="!form.valid" />
    </div>
  </form>
</p-panel>
