<p-button styleClass="w-full" link="true" (onClick)="onClick()">
  <div class="flex w-full" [ngClass]="{ 'font-semibold': notification().isUnread }">
    <div class="flex-0 w-12">
      @if (notification().imageUrl) {
        <img [src]="notification().imageUrl" class="w-12 h-12 rounded-full" />
      } @else {
        <i [class]="notification().icon ?? 'pi pi-bell'"></i>
      }
    </div>
    <div class="flex-1 flex flex-col items-start">
      <div>{{ notification().title }}</div>
      <div class="text-sm text-color">{{ notification().description }}</div>
      <div class="text-sm text-color font-light">{{ notification().timestamp | since | async }}</div>
    </div>
  </div>
</p-button>
