<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <img
      src="assets/images/logos/logo-{{ layoutService.isDarkTheme() ? 'dark' : 'light' }}.png"
      alt="LightNap logo"
      class="mb-8 w-24 shrink-0"
    />
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(33, 150, 243, 0.4) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 flex flex-col items-center" style="border-radius:53px">
                <h1 class="text-surface-900 dark:text-surface-0 font-bold text-3xl lg:text-5xl mb-2">Terms and Conditions</h1>
                <div class="text-surface-600 dark:text-surface-200 mb-8">Last updated February 30, 2099.</div>
                <p>Terms go here...</p>
            </div>
        </div>
    </div>
</div>
