@if (internalApiResponse$() | async; as response) {
  @if (response.type === "Success") {
    @if (!response.result && nullTemplateRef()) {
      <ng-container *ngTemplateOutlet="nullTemplateRef()!" />
    } @else {
      <ng-container *ngTemplateOutlet="successTemplateRef()!; context: { $implicit: response.result }" />
    }
  } @else {
    <ng-container *ngTemplateOutlet="errorTemplateRef() || defaultErrorTemplate; context: { $implicit: response }" />
  }
} @else {
  <ng-container *ngTemplateOutlet="loadingTemplateRef() || defaultLoadingTemplate" />
}

<ng-template #defaultErrorTemplate let-response>
  <p>{{ errorMessage() }}</p>
  <error-list [apiResponse]="response" />
</ng-template>

<ng-template #defaultLoadingTemplate>
  <p-progressSpinner ariaLabel="loading" />
  <p>{{ loadingMessage() }}</p>
</ng-template>
