<identity-card>
  <span title>Verify Your Email</span>
  <span subtitle>Enter your email to request a verification link</span>

  <form [formGroup]="form" (ngSubmit)="resendVerificationEmail()" autocomplete="off">
    <div class="w-96">
      <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label for="email" class="text-xl">Email</label>
          <input id="email" type="text" placeholder="Email address" pInputText formControlName="email" />
        </div>

        <error-list [errors]="errors()" />
      </div>
      <p-button type="submit" label="Resend Verification Email" styleClass="w-full text-xl" [disabled]="!form.valid" pRipple />
      <div class="mt-6">
        <a [routerLink]="'login' | route" class="ml-auto">Return to login</a>
      </div>
    </div>
  </form>
</identity-card>
