<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen w-screen overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <img src="assets/images/logos/logo-{{ layoutService.isDarkTheme() ? 'dark' : 'light' }}.png" alt="LightNap logo" class="mb-8 w-24 shrink-0" />
    <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%)">
      <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 flex flex-col items-center" style="border-radius: 53px">
        <div class="gap-4 flex flex-col items-center">
          <div class="flex justify-center items-center bg-orange-500 rounded-full" style="width: 3.2rem; height: 3.2rem">
            <i class="text-surface-50 dark:text-surface-800 pi pi-fw pi-lock text-2xl"></i>
          </div>
          <h1 class="text-surface-900 dark:text-surface-0 font-bold text-4xl lg:text-5xl mb-2">Access Denied</h1>
          <span class="text-surface-600 dark:text-surface-200 mb-8">You do not have the necessary permissions. Please contact an administrator.</span>
          <img src="assets/images/access/asset-access.svg" alt="Access denied" class="mb-8" width="80%" />
          <button pButton pRipple icon="pi pi-arrow-left" label="Go Home" class="p-button-text" [routerLink]="'user-home' | route"></button>
          <button pButton pRipple icon="pi pi-arrow-left" label="Log In With A Different Account" class="p-button-text" (click)="logOut()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
