@if (latestNotifications$(); as latestNotifications) {
  <button type="button" class="layout-topbar-action" (click)="popover.toggle($event)">
    @if (latestNotifications.unreadCount > 0) {
      @if (latestNotifications.unreadCount > 9) {
        <p-overlaybadge value="9+" badgeSize="small">
          <i class="pi pi-inbox text-xl" severity="info"></i>
        </p-overlaybadge>
      } @else {
        <p-overlaybadge [value]="latestNotifications.unreadCount" badgeSize="small">
          <i class="pi pi-inbox text-xl" severity="info"></i>
        </p-overlaybadge>
      }
    } @else {
      <i class="pi pi-inbox text-xl" severity="info"></i>
    }
    <span>Notifications</span>
  </button>
  <p-popover #popover>
    <ng-template #content>
      <div class="w-80 flex flex-col">
        <div class="flex justify-between">
          <div class="font-semibold text-xl">Notifications</div>
          <div class="flex gap-1">
            @if (latestNotifications.unreadCount > 0) {
              <p-button icon="pi pi-eye" link="true" size="small" title="Mark all as read" (onClick)="markAllAsRead()" />
            }
            <p-button icon="pi pi-inbox" link="true" size="small" title="Notification Center" [routerLink]="'notifications' | route" />
          </div>
        </div>
        @for (notification of latestNotifications.notifications; track notification.id) {
          <notification-item [notification]="notification" />
        } @empty {
          <div>No notifications</div>
        }
      </div>
    </ng-template>
  </p-popover>
}
